.about {
    font-family: 'Trebuchet MS';
}

.about_img {
    width: 40%;
}

.about_contact {
    margin-left: 15px;
    width: 58%;
}

.about-details {
    /* width: 69%; */
    position: relative;
    margin-top: 20px;
}

.about_img img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;

}

.about_contact_sec {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.about_contact p {
    color: black;
    margin: 5px;
    padding: 0;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: black;
}

.about-me::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20%;
    top: 40px;
    left: 0;
    right: 0;
    background-color: navy;
}

.p1 {
    margin-top: 20px;
}

.skils {
    margin-top: 15px;
}

.skils ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skils ul li {
    background-color: #20232A;
    color: white;
    padding: 0 10px;
    margin: 5px 0;
    margin-right: 5px;
    border-radius: 2px;
    font-weight: 300;
}

.buttons {
    margin-top: 20px;
}

.social-btn1 {
    background-color: #20232A;
    border: 1px solid white;
    color: white;
    padding: .3em 1em;
    display: inline-block;
    margin-right: 10px;
    transition: all 500ms ease;
}

.social-btn2 {
    border: 1px solid #20232A;
    color: #20232A;
    padding: .3em 1em;
    display: inline-block;
    transition: all 500ms ease;
}

.social-btn2:hover {
    background-color: #20232A;
    color: white;
}

.social-btn1:hover {
    border: 1px solid #20232A;
    color: #20232A;
    background-color: transparent;
}

@media screen and (min-width: 768px) {

    .about-details {
        margin-top: 0px;
    }

}